body {
    background-color: #222222;
}

.w3-card-4 {
    background-color: #323232;
}

.w3-button {
    background-color: #323232;
    color: #ffffff;
    width: 120px;
}

.w3-twothird.sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 72px); /* Adjust the height according to your needs */
    overflow-y: auto;
}
