body {
    background-color: #222222;
}

.w3-card-4 {
    background-color: #323232;
}

.w3-button {
    background-color: #323232;
    color: #ffffff;
    width: 120px;
}

.w3-twothird.sticky {
    position: sticky;
    top: 0;
    height: calc(100vh - 72px);
    overflow-y: auto;
}

#map {
    height: calc(100% - 70px);
    width: 100%;
    margin: 0 auto;
}
